//Color Variables
$lightShadow : rgb(168,168,168);
$lightBackground : rgb(212,212,212);

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(90deg, rgb(0, 119, 255) 0%, rgb(14, 132, 168) 50%, rgb(153, 198, 207) 100%);
}

/* Making the default text styles for the page */
p{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 600;
    //Used when black text is needed instead of white
    &.black{color:black;}
    //Appending italics, if needed
    &.italic{font-style: italic;};
    //Font size for the top header, as it never changes
    &.topHeader{font-size: 32px;}
}

//Styling images on the website
img{
    //Styling circle images
    &.circleImg{
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;

        //Determining the size of the images
        &.homeScreenImg{
            height:10vh;
            width:10vh;
        }

        &.contactImg{
            height:12vh;
            width:12vh;
        }

        &.skillsImg{
            height:10vh;
            max-width: 9vw;
        }

        //Adding a rotation motion to the image
        &.rotating{
            &:hover{
                animation: rotateMotion 4s ease-in-out infinite;
            }
        }
    }

    //Styling the photo area image
    &.photoAreaImg{
        border: 2px solid black;
        border-radius: 25px;
    }

    //Styling the mainProjectImg
    &.mainProjectImg{
        height: 35vh;
        width: 40vw;
    }

    //Styling the smallProjectImg
    &.smallProjectImg{
        height:4vh;
        width:4vh;
    }
}

//Styling the buttons on the website
button{
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;

    &.homeScreenLinksButton{
        transition: all 1s;

        &:hover{
            transform: translateY(-1vh);
            box-shadow: 2px 2px 2px 2px $lightShadow;
        }
    }

    &#ExploreButton{
        width: 30vw;
        height: 10vh;
        a{text-decoration: none;}
    }

    &.mainProjectButton{
        width: 100%;
        background-color: white;
        transition: background-color 1s;
        opacity: 1;
        color: black;

        &:hover{
            background-color: rgb(226, 226, 226);
        }
    }

    &.contactButton{
        width: 60%;
        transition: background-color 1s;
        background-color: rgb(70, 70, 70);
        color: white;

        &:hover{
            background-color: rgb(40, 40, 40);
        }
    }
}

//Implemented the needed media queries
@media screen and (min-width : 1360px) {
    //Styling the font styles
    p{
        //Classes to determine the font size and weight of fonts
        &.regular{font-size: 22px;font-weight: 500;}
        &.boldRegular{font-size: 22px;}
        &.smallSubheading{font-size: 28px;}
        &.subheading{font-size: 32px;}
        &.heading{font-size: 68px;}
        &.title{font-size: 80px;}
    }

    //Styling the buttons font styles
    button{
        padding: 10px;

        &.homeScreenLinksButton{
            span{font-size: 40px;}
        }

        &.mainProjectButton{
            font-size: 24px;
        }

        &.contactButton{
            font-size: 50px;
        }
    }

    //Styling the inputs font sizes
    form{
        input{font-size: 28px;}
        textarea{font-size: 28px;}
        &::placeholder{font-size: 28px;}
    }

    //Styling the about me img
    .photoAreaImg{
        height: 40vh;
        width: 20vw;
    }
}

@media screen and (min-width : 1080px) and (max-width : 1360px) {
    //Styling the font styles
    p{
        //Classes to determine the font size and weight of fonts
        &.regular{font-size: 20px;font-weight: 500;}
        &.boldRegular{font-size: 20px;}
        &.smallSubheading{font-size: 24px;}
        &.subheading{font-size: 26px;}
        &.heading{font-size: 56px;}
        &.title{font-size: 68px;}
    }

    //Styling the buttons font styles
    button{
        padding: 10px;

        &.homeScreenLinksButton{
            span{font-size: 32px;}
        }

        &.mainProjectButton{
            font-size: 20px;
        }

        &.contactButton{
            font-size: 42px;
        }
    }

    //Styling the inputs font sizes
    form{
        input{font-size: 26px;}
        textarea{font-size: 26px;}
        &::placeholder{font-size: 26px;}
    }

    //Styling the about me img
    .photoAreaImg{
        height: 40vh;
        width: 20vw;
    }
}

@media screen and (min-width: 800px) and (max-width : 1080px) {
    //Styling the font styles
    p{
        //Classes to determine the font size and weight of fonts
        &.regular{font-size: 16px;font-weight: 500;}
        &.smallSubheading{font-size: 20px;}
        &.subheading{font-size: 22px;}
        &.heading{font-size: 40px;}
        &.title{font-size: 50px;}
        &.boldRegular{font-size: 16px;}
    }

    //Styling the buttons font styles
    button{
        padding: 5px;

        &.homeScreenLinksButton{
            span{font-size: 28px;}
        }

        &.mainProjectButton{
            font-size: 16px;
        }

        &.contactButton{
            font-size: 36px;
        }
    }

    //Styling the inputs font sizes
    form{
        input{font-size: 20px;}
        textarea{font-size: 20px;}
        &::placeholder{font-size: 20px;}
    }

    //Styling the about me img
    .photoAreaImg{
        height: 30vh;
        width: 20vw;
    }
}

@media screen and (min-width:560px) and (max-width : 800px) {
    //Styling the font styles
    p{
        //Classes to determine the font size and weight of fonts
        &.regular{font-size: 14px;font-weight: 500;}
        &.boldRegular{font-size: 14px;}
        &.smallSubheading{font-size: 18px;}
        &.subheading{font-size: 20px;}
        &.heading{font-size: 32px;}
        &.title{font-size: 44px;}
    }

    //Styling the buttons font styles
    button{
        padding: 5px;

        &.homeScreenLinksButton{
            span{font-size: 22px;}
        }

        &.mainProjectButton{
            font-size: 14px;
        }

        &.contactButton{
            font-size: 30px;
        }
    }

    //Styling the inputs font sizes
    form{
        input{font-size: 18px;}
        textarea{font-size: 14px;}
        &::placeholder{font-size: 18px;}
    }

    //Styling the about me img
    .photoAreaImg{
        height: 30vh;
        width: 20vw;
    }
}

//Code to give an item a basic display flex body
.flexDisplay{
    display: flex;
    justify-content: center;
    align-items: center;

    //Determining the size of the gap
    &.smallWidthGap{gap:3vw;}
    &.widthGap{gap:5vw;}
    &.smallHeightGap{gap:2vh;}
    &.heightGap{gap:5vh;}
    &.noGap{gap:0px;}
    &.verySmallGap{gap:5px;}
    &.smallGap{gap:10px;}
    &.gap{gap:20px;}

    //Appending flex-direction:column, if needed
    &.column{flex-direction: column;}
}

/* Code given to all flexItems */
.flexItems{
    width: 100%;
    height: 100%;
    flex: 1 1;
}

.screen{
    height: 100%;
    width: 100vw;
    padding: 5vh 0vw;

    &#HomeScreen{
        padding: 0px;
        z-index: 5;

        .homeScreenBody{
            //Displaying the body over the animated background
            position: relative;
            top: 0;
            left: 0;
            height: 90vh;
            z-index: 1;
            padding-top: 2vh;
            padding-left: 10vw;
            text-align: left;
            line-height: 1.5;

            .nameTitle{
                padding-left: 2vw;
                color: yellow;
            }

            .typingAnimation{
                padding-left: 2vw;
            }

            .HomeScreenInfo{
                width: 70%;
                margin-top: 2vh;
                margin-bottom: 2vh;
            }

            .HomeScreenLinks{
                padding: 2vh;
                width: 40%;

                a{
                    text-decoration: none;

                    
                }
            }

            .explore{
                width: 80%;
                padding: 4vh 0vw;
            }
        }
    }

    &#aboutMe{
        margin-top: 6vh;
        z-index: 1;

        .photoArea{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content{
            padding: 0vh 8vw;
    
            .infoArea{
                padding: 5%;
                flex: 3 3;
            }
        }

    }

    &#skills{
        margin-top: 2vh;
        margin-bottom: 3vh;

        .skillsArea{
            .skillsRow{
                .skill{
                    height: 18vh;
                    width: 10vw;
                    background-color: $lightBackground;
                    box-shadow: 4px 4px 4px 4px $lightShadow;
                    transition: transform 2s;

                    &:hover{
                        transform: translateY(-2vh);
                    }
                }

                .empty{
                    height: 18vh;
                    width: 10vw;
                }
            }
        }
    }

    &#projects{
        .mainProjectRow, .smallProjectRow{
            padding-top: 5vh;
            padding-bottom: 5vh;
        }

        .emptyMainProject{height:30vh;width:40vw;}
        .emptySmallProject{height:20vh;width:25vw;}

        .mainProjectRow{gap:10vw;}
        .smallProjectRow{gap:5vw;}

        .mainProject{
            height: 35vh;
            width: 40vw;
            position: relative;
            overflow-y: hidden;
            box-shadow: 4px 4px 4px 4px $lightShadow;
            overflow-x: hidden;

            img{
                position: absolute;
                top: 0;
                left: 0;
            }

            .projectContent{
                position: relative;
                height: 30vh;
                width: 40vw;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0;
                z-index: 2;
                background-color: $lightShadow;
                p{padding: 0px 10px;}
                transition: opacity 1s;
            }
            
            &:hover{
                .projectContent{
                    opacity: 0.9;
                    animation: moveUpContent 2s;
                }
            }

            .buttonArea{
                padding: 10px;
            }
            
        }

        .smallProject{
            width: 25vw;
            height: 20vh;
            background-color: $lightBackground;
            box-shadow: 4px 4px 4px 4px $lightShadow;
            text-align-last: center;
            padding: 1vh;
            transition: transform 2s;
            
            .headerLine{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0.5vh;
            }

            &:hover{
                transform: translateY(-2vh);
            }
        }

        .skillsLine{
            padding: 5px;}

        .showMoreLess{
            padding: 2vh 10vw 2vh 10vw;
            border-radius: 20px;
            border: none;
            box-shadow: 4px 4px 4px 4px $lightShadow;
            cursor: pointer;
        }
    }

    &#experience{
        .experienceItems{
            padding: 5vh 0vw;

            .experienceItem{
                border-radius: 40px;
                box-shadow: 4px 4px 4px 4px $lightShadow;
                padding: 2vh 2vw;
                display: flex;
                justify-content: start;
                align-items: start;
                text-align-last: left;
                width: 80vw;
                height: 20vh;
                background-color: $lightBackground;
                
                .imageLocation{
                    img{
                        border-radius: 25px;
                        cursor: pointer;
                    }
                }

                .content{
                    flex: 4 4;
                    p{
                        padding: 2px;
                    }
                }
            }
        }
    }

    &#contactMe{
        width: 90vw;
        p{padding-bottom: 2vh;}
        padding-left: 5vw;

        .contactArea{
            margin-right: 5vw;

            .contactRight{
                flex: 2 2;
                background-color: $lightBackground;
                border-radius: 25px;
                padding: 10px;

                form{
                    width: 90%;

                    input{
                        width: 80%;
                        padding: 10px;
                        border: none;
                        border-bottom: 2px solid black;
                        background-color: transparent;
                        font-weight: 600;
                    }

                    textarea{
                        width: 80%;
                        padding: 10px;
                        resize: none;
                    }

                    ::placeholder{
                        color:rgb(54, 53, 53);
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

//Code to animate in the sections, as you scroll down to them
.reveal{
    position: relative;
    transform: translateY(20px);
    opacity : 0;
    transition : all 0.75s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

//Code to animate the content for main projects up
@keyframes moveUpContent {
    0% {transform: translateY(20px);}
    100%{transform: translateY(0px);}
}

//Code to rotate an item back and forth
@keyframes rotateMotion {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(30deg);}
    75% {transform: rotate(-30deg);}
    100% {transform: rotate(0deg);}
}