html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: rgb(152, 152, 152);
}

/* Making the default text styles for the page */
p{
    margin: 0;
    padding: 0;
    color: white;

    &.regular{font-size: 24px;}
    &.subheading{font-size: 32px;}
    &.heading{font-size: 60px;}
    &.title{font-size: 80px;}
}

/* Code given to all flexItems */
.flexItems{
    width: 100%;
    height: 100%;
    flex: 1 1;
}

.screen{
    height: 100%;
    width: 100vw;
    min-height: 90vh;

    &#HomeScreen{
        .homeScreenBody{
            //Displaying the body over the animated background
            position: relative;
            top: 0;
            left: 0;
            height: 90vh;
            z-index: 1;
            padding: 50px;
            padding-left: 10vw;
            text-align: left;
            line-height: 1.5;

            .nameTitle{
                padding-left: 20px;
                font-style: italic;
                color: yellow;
            }

            .HomeScreenInfo{
                width: 70%;
                margin-top: 2vh;
                margin-bottom: 2vh;
            }
        }
    }

    &#AboutMe{
        margin-top: 20px;

        .content{
            display: flex;
            justify-content: center;
            align-items: center;
    
            .photoArea{
                padding: 5%;
                img{
                    height: 40vh;
                    width: 20vw;
                    border: 2px solid black;
                    border-radius: 25px;
                }
            }
    
            .infoArea{
                padding: 5%;
                flex: 3 3;
            }
        }

    }

    &#Skills{
        
    }

    &#Projects{
    
    }

    &#Experience{
       
    }

    &#Footer{
        
    }
}

//Code to animate in the sections, as you scroll down to them
.reveal{
    position: relative;
    transform: translateY(20px);
    opacity : 0;
    transition : all 0.75s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}